@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {

    font-family: 'Inria Serif', serif;
    font-size: 24px;

 }

 /* Tema claro */
body.light {
    background-color: white;
    color: black;
}
body.light #mobile-menu {
    background-color: #f3f4f6;
    color: black;
}

/* Tema escuro */
body.dark {
    background-color: #000000;
    color: white;
}
body.dark #mobile-menu {
    background-color: #1f2937;
    color: white;
}




